<div class="container" id="mainContainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                        <a class="btn btn-link btn-sm" href="/saved">Saved Articles
                </li>
                <li class="nav-item">
                    <button id="scrapeButton" type="button" class="btn btn-link btn-sm">Scrape New Articles</button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container" id="titleContainer">
            <h1 class="display-4 text-center font-weight-bold">Mongo News Scraper</h1>
        </div>
    </div>

</div>