body {
	background-color: #F0F8FF;
}

.jumbotron {
     background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
}

#titleContainer {
    color: rgb(11, 44, 59);
 }

 a {
    text-decoration: none;
    color: white;
 }

.notes {
    min-width: 25rem;
    border-style: none;
}

.noteDelete {
    color: rgb(238, 61, 61);
    /* font-size: 2rem; */
}